[submodule "submodules/stb"]
	path = submodules/stb
	url = https://github.com/nothings/stb
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui
[submodule "submodules/object_threadsafe"]
	path = submodules/object_threadsafe
	url = https://github.com/AlexeyAB/object_threadsafe
